// Here be some Sass
// --------------------------------------------

// Change stuff. See what happens.

body {
	background: $color-body-bg;
	color: $color-body-text;
	font-size: $fontSize-base;
}

a { 
   color: $color-link;

	&:hover {
        color: $color-link-hover;
        text-decoration: none;
    }
}
h1 {
	margin-top: 0;
	font-size: $fontSize-jumbo;
}
article {
	width: $width-article;
	margin: 50px auto;
	padding: 50px;
	background: $color-aricle-bg;
	border: $border-article;
}

.awesome {
	background: yellow;
}