// Here be some variables
// --------------------------------------------

// colors
$color-body-bg:         #621246;
$color-body-text:       #43503f;
$color-aricle-bg:       #ffffff;
$color-link:            #00afea;
$color-link-hover:      #79b926;
$color-article-border:  #b1f543;

// font size
$fontSize-base:         16px;
$fontSize-jumbo:        50px;

// article
$width-article:         768px;
$border-article:        6px solid $color-article-border;